*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark: #19262E;
    --light: #f1effa;
    --side-width: 280px;
    --side-width-mini: 120px;
}

body {
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    background-color: var(--light);
}

.out {
    position: relative;
    height: 100%;
}

.side {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--side-width);
    color: var(--dark);
    padding-right: 20px;
    transition: width .25s linear;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 6px;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: rgba(#19262E, .2);
        }
    }


    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #fff;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        min-height: 600px;
        padding: 30px 20px;
    }

    &__header {
        position: relative;
        margin-bottom: 40px;
    }

    &__logo {
        display: flex;
        align-items: center;
        width: 100%;
        text-decoration: none;
        color: inherit;
        transition: all .11s linear;
    }

    &__logo-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid var(--light);
        flex-shrink: 0;
    }

    &__logo-text {
        font-size: 22px;
        font-weight: 500;
        margin-left: 12px;
    }

    &__footer {
        text-align: center;
        padding: 10px 0;
        margin: auto 0 0;
    }
}

.side-toggle {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    vertical-align: middle;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    border-radius: 12px;
    transition: all .1s linear;

    &:hover {
        background-color: var(--light);
    }

    svg {
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
    }
}

.nav {

    &__list-item {
        list-style: none;
        margin-bottom: 6px;
    }

    &__list-link {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        padding: 18px;
        border-radius: 24px;
        position: relative;
        transition: all .25s linear;

        path {
            fill: var(--dark);
            transition: all .25s linear;
        }

        &:hover,
        &.active {
            color: #fff;

            path {
                fill: #fff;
            }

            &::before {
                opacity: 1;
                transform: translateX(0);
            }

            &::after {
                opacity: 1;
                transform: translate(-20px, -50%);
            }
        }

        &.active {
            &::before {
                width: calc(100% + 35px);
            }

            &::after {
                transform: translate(24px, -50%);
            }
        } 

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: var(--dark);
            position: absolute;
            opacity: 0;
            transform: translateX(-20px);
            transform-origin: left;
            transition: all .15s linear;
            border-radius: 12px;
        }

        &::after {
            content: "";
            width: 18px;
            height: 18px;
            background-image: url('../assets/small-right.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            right: 0;
            top: 50%;
            opacity: 0;
            transform: translate(-40px, -50%);
            transition: all .16s ease-in;
        }

    }
    
    &__list-link-icon {
        width: 24px;
        flex-shrink: 0;
        position: relative;
        z-index: 2;
    }

    &__list-link-text {
        font-size: 18px;
        margin-left: 18px;
        position: relative;
        transition: all .2s linear;
        z-index: 2;
    }
}

.logout-link {
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    border-radius: 12px;
    padding: 18px;
    transition: background-color .1s linear;

    &:hover, &:active {
        background-color: var(--light);
    }

    &__icon {
        width: 18px;
        flex-shrink: 0;
    }

    &__text {
        color: inherit;
        margin-left: 12px;
    }
}

.side.minify {
    width: var(--side-width-mini);

    .side__logo {
        transform: translateX(-40px);
        opacity: 0;
        visibility: hidden;
    }

    .side-toggle {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nav {
        &__list-link::after {
            display: none;
        }

        &__list-link.active::after {
            display: block;
        }

        &__list-link-text {
            opacity: 0;
            transform: translateX(-60px);
            visibility: hidden;
            transition: all .15s linear;
        }
    }

    .logout-link {
        width: 54px;

        &__text {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.main {
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px 30px;
    color: var(--dark);
    width: calc(100% - var(--side-width));
    transition: width .25s linear;

    h1 {
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 10px;
        font-size: 16px;
    }

    &.wide {
        width: calc(100% - var(--side-width-mini));
    }
}